	
		<%= form_for(@list, :html => {:multipart => true}) do |f| %>
 		<%= render 'shared/error_messages', :object => f.object %>
		<% action = params[:action] %>
		<ul class="nav nav-tabs">
  			<li class="active">
  				<a href="#essential-tab" data-toggle="tab">Essential Details</a>
  			</li>
			<li><a href="#additional-tab" data-toggle="tab">Additional Information</a></li>
		</ul>
		<div class="tab-content">
		<div class="tab-pane active" id="essential-tab">
			<div class="row">
				<div class="span5">
      				<form class="form-horizontal">
        				<fieldset>
        					<legend>Location of Residence</legend>
          					<div class="control-group">
            					<label class="control-label">Residence Type:</label>
            					<div class="controls">
              						<label class="radio">
                						<input type="radio" name="optionsRadios" id="house-radio" value="house" checked>House
              						</label>
              						<label class="radio">
                						<input type="radio" name="optionsRadios" id="apt-radio" value="apt">Apartment
              						</label>
              					</div>
            				</div>
         					<div class="control-group">
            					<label class="control-label">Location:</label>
            					<div class="controls docs-input-sizes">
            						<p><input class="input-medium" type="text" placeholder="Address"></p>
            						<!-- if apartment
            						<p><input class="input-medium" type="text" placeholder="Building Name"></p>
            						<p><input class="input-small" type="text" placeholder="Apartment #"></p>
            						-->
              						<p><input class="input-small disabled" type="text" placeholder="Madison" disabled></p>
              						<p><input class="input-mini disabled" type="text" placeholder="WI" disabled></p>
              						<p><input class="input-mini" type="text" placeholder="Zip"></p>
            					</div>
          					</div>
          				</fieldset>
          			</form>
          		</div><!--./span5 -->
          		<div class="span5">
          			<form class="form-horizontal">
          				<fieldset>
          					<legend>Residence Attributes</legend>
          					<div class="control-group">
          						<label class="control-label">Bedrooms:</label>
          						<div class="controls">
          							 <select class="input-mini">
          							 	<option>--</option>
                						<option>1</option>
                						<option>2</option>
                						<option>3</option>
                						<option>4</option>
                						<option>5</option>
                						<option>6</option>
                						<option>7</option>
                						<option>8</option>
                						<option>9</option>
                						<option>10</option>
                						<option>11</option>
                						<option>12</option>
                						<option>13</option>
                						<option>14</option>
                						<option>15</option>
              						</select>
              					</div>
              				</div>
              				<div class="control-group">
          						<label class="control-label">Bathrooms:</label>
          						<div class="controls">
          							 <select class="input-mini">
          							 	<option>--</option>
                						<option>1</option>
                						<option>1.5</option>
                						<option>2</option>
                						<option>2.5</option>
                						<option>3</option>
                						<option>3.5</option>
                						<option>4</option>
                						<option>4.5</option>
                						<option>5</option>
                						<option>5.5</option>
                						<option>6</option>
                						<option>6.5</option>
              						</select>
              					</div>
              				</div>
              			</fieldset>
              		</form>
              	</div><!--./span5 -->
          	</div><!--./row -->
		</div><!--./tab-pane -->
		<div class="tab-pane" id="additional-tab">
			<div class="row">
				<div class="span5">
      				<form class="form-horizontal">
        				<fieldset>
        					<legend>Leasing Details</legend>
          					<div class="control-group">
            					<label class="control-label">Price:</label>
            					<div class="controls docs-input-sizes">
            						<div class="input-prepend">
  										<p><span class="add-on">$</span><input class="input-small" type="text"  placeholder="Monthly Rent"></p>
									</div>
            					</div>
          					</div>
          					<div class="control-group">
          						<label class="control-label">Size:</label>
            					<div class="controls docs-input-sizes">
  									<p><input class="input-small" type="text"  placeholder="Square feet"></p>
            					</div>
          					</div>
          					<div class="control-group">
            					<label class="control-label">Lease Length:</label>
            					<div class="controls">
              						<label class="radio">
                						<input type="radio" name="optionsRadios" id="twelveMo-radio" value="twelveMo" checked>12 Months
              						</label>
              						<label class="radio">
                						<input type="radio" name="optionsRadios" id="nineMo-radio" value="nineMo">9 Months
              						</label>
              						<label class="radio">
                						<input type="radio" name="optionsRadios" id="sixMo-radio" value="sixMo">6 Months
              						</label>
              					</div>
            				</div>
          				</fieldset>
          			</form>
          		</div><!--./span5 -->
          		<div class="span5">
          			<form class="form-horizontal">
          				<fieldset>
          					<legend>Miscellaneous Details</legend>
          					<div class="control-group">
          						<label class="control-label">Utilities:</label>
          						<div class="controls">
          							<label class="checkbox">
    									<input type="checkbox"> Heat included
  									</label>
  									<label class="checkbox">
    									<input type="checkbox"> Electric included
  									</label>
  									<label class="checkbox">
    									<input type="checkbox"> Gas included
  									</label>
  									<label class="checkbox">
    									<input type="checkbox"> Garbage collection
  									</label>
  								</div>
  								<label class="control-label">Accommodations:</label>
  								<div class="controls">
  									<label class="checkbox">
  										<input type="checkbox"> Parking available
  									</label>
  									<label class="checkbox">
  										<input type="checkbox"> Furnished
  									</label>
  									<label class="checkbox">
  										<input type="checkbox"> Laundry on site
  									</label>
  								</div>
  								<label class="control-label">Restrictions:</label>
  								<div class="controls">
  									<label class="checkbox">
  										<input type="checkbox"> Pets allowed
  									</label>
  									<label class="checkbox">
  										<input type="checkbox"> Smoking allowed
  									</label>
  								</div>
  							</div>
  						</fieldset>
  					</form>
          		</div><!--./span5 -->
          	</div><!--./row -->
		</div><!--./tab-pane -->
		</div><!--./tab-content -->
		<br />
		<input class="btn btn-inverse btn-large" type="submit" value="Add Listing">
		<% end %>
