<li>
      <%= list.Address %>
      <%= link_to list.Address, list %>
      <% if current_user.admin? %>
  			| <%= link_to "delete", list, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{list.Address}" %>
      <% end %>
</li>