<div class="divider"></div>
<div class="Residence_Listing_Form">
	<h1 id="Add_Listing_Title">Update Listing</h1>
	<li id="UpdateLinks"><a>
		<%= link_to 'Apartment Page', @list %> |
		<%= link_to 'Cancel', lists_path %>
	</a></li>
	<hr id="ListingForm_View_Bar"/>
	<%= render 'form' %>
</div>
