<div class="divider"></div>
<div class="Residence_Listing_Form">
	<h2 id="Add_Listing_Title">Update Listing</h2>
	<%= render 'form' %>
</div>

<%= link_to 'Apartment Page', @list %> |
<%= link_to 'Cancel', lists_path %>
