<div class="divider"></div>

<!-- Search Panel -->
<%= render 'home/search_panel' %>
<!-- End Search Panel -->

<div class="divider"></div>

<!-- Content -->
<%= render 'results' %>
<!-- End Content -->

