<html>

<head>
	<title>Search Results</title>
	<% stylesheet_link_tag 'index' %>
</head>


<body>

<!-- Banner -->
<%= render 'home/banner' %>
<!-- End Banner -->

<div class="divider"></div>

<!-- Search Panel -->
<%= render 'home/search_panel' %>
<!-- End Search Panel -->

<div class="divider"></div>

<!-- Content -->

<%= render 'results' %>
<!-- End Content -->

</body>
</html>
