<%= stylesheet_link_tag 'index' %>

<%= render 'home/banner' %>
<div class="divider"></div>

<div class="Residence_Listing_Form">
<h2 id="Add_Listing_Title">Add a Listing</h2>
<%= render 'form' %>
</div>