<style type="text/css">
      #list_bedrooms, #list_bathrooms {
      	width: 75px;
      }
    </style>

<div class="container">
	<div class="hero-unit">
        <h1>Add a Listing</h1>
        <hr style="border: 1px solid black;"/>
        <p>So you've lived somewhere in Madison that we don't have listed, huh? Well help us out! Fill out each of the fields below to create a new residence in our database and we'll be, like, totally grateful...</p>
		<p>To create a listing, you'll need to fill out all of the information under the "Essential Details" tab below. If you've got all of the information on your residence you can fill out the details under "Additional Information" as well. Either way, thanks for the contribution!</p>
		<br />
		<%= render 'form' %>
	</div><!--./hero-unit -->
