<div class="divider"></div>
<div class="Residence_Listing_Form">
	<h1 id="Add_Listing_Title">Add a Listing</h1>
	<hr class="generic_header_ruler"/>
	<h3>So your residence isn't in our database, huh? Well go ahead an fill out the fields below to add the residence. Thanks for your contribution!</h3>
	<%= render 'form' %>
</div>