<section class="User_View">
<div class="divider"></div>
	<h1 class="page_header">Forgotten Password</h1>
	<hr class="generic_header_ruler"/>
	<br />
	<%= form_tag password_resets_path, :method => :post do %>
  		<div class="text-field">
    		<%= text_field_tag :email, params[:email], :placeholder => "Email" %>
  		</div>
  		<br />
  		<div class="actions">
  			<%= submit_tag "Reset Password" %>
  		</div>
	<% end %>
</section>