#admin_lists, #admin_users, #admin_adminusers, 
#admin_comments, #admin_creation {
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	background: #232323;
	float: left;
}

#admin_lists {
	width: 500px;
}

#admin_users {
	width: 250px;
}

#admin_adminusers {
	width: 250px;
	padding: 10px;
}

#admin_comments {
	width: 400px;
	padding: 10px;
}

#admin_creation {
	width: 350px;
	padding: 5px;
}

#admin_lists table {
	border-collapse:collapse;
	margin: 10px;
}

#admin_lists th, td {
	border: 1px solid #EEEEEE;
	padding: 0 10px 0 10px;
	margin: 0px;
}

#admin_lists td.flags, td.id {
	text-align:center;
}

#admin_lists th .current {
	padding-right: 12px;
	background-repeat: no-repeat;
	background-position: right center;
}

#admin_lists th .asc {
	background-image: url(/images/up_arrow.gif);
}

#admin_lists th .desc {
	background-image: url(/images/down_arrow.gif);
}



