#Constant_View {
	padding-top: 1px;
}

/* CSS for banner title (link) */
#Banner_Home_Link {
	font-family: 'Architects Daughter', cursive;
	font-style: italic;
	font-size: 30px;
	color: #eeeeee;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 20px;
	display: inline;
	float: left;
}

#Banner_Home_Link, #Banner_Home_Link:visited,
#Banner_Home_Link:hover
{
	cursor: pointer;
	text-decoration: none;
	color: #EEEEEE;
}
/* END CSS for banner title (link) */

/* CSS for sign in information */
#SignedIn, #SignInSubmit, .SignInField, #NewUserLink, #banner_spacer, 
#SignInRemember {
	display: inline;
}

#SignedIn, #SignInSubmit, #SignInFields, #NewUserLink, 
#banner_spacer, #SignInRemember {
	float: right;
}

#SignedIn, #SignInSubmit {
	padding-right: 10px;
	padding-left: 5px;
}

#banner_spacer {
	display: inline;
	width: 60px;
}

#SignInRemember {
	padding-right: 95px;
	color: #EEEEEE;
}

.SignInField input {
	width: 125px;
	border: none;
	border-radius: 15px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 3px;
}

.SignInField input:focus {
	outline: none;
	background-color:#FFEBCD;
	box-shadow: 0px 0px 10px 3px #79D3EE;
}
/* END CSS for sign in information */

#banner_ruler {
	border: 0;
	background-color: #eeeeee;
	height: 2px;
	clear: both;
	padding: 0px;
	margin: 0px;
}

/* CSS for navigation links */
#Constant_View_Links {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.navButton {
	cursor: pointer;
	border-right: 1px solid #FFFFFF;
	float: left;
	font-size: 18px;
}

.navLink, .navLink:visited {
	display: block;
	width: 225px;
	color: #EEEEEE;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	transition-property:background-color;
	transition-duration:2s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:2s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:background-color;
	-o-transition-duration:2s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:background-color;
	-moz-transition-duration:2s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

.navLink:hover, .navLink:active {
	background-color: #75070E;
	transition-property:background-color;
	transition-duration:0.15s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:background-color;
	-o-transition-duration:0.15s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:background-color;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

#AddListingLink {
	border-bottom-left-radius: 15px;
}
/* END CSS for navigation links */