/* CSS for home page content and miscellaneous items */

/* Generic text and page styling */
body, p, ol, ul, td
{
	font-family: 'Antic Slab', serif;
	font-size:   13px;
	line-height: 18px;
	color: #eee;
}

body
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	color: #eeeeee;
	background-color: #eeeeee;
}
/* End Generic text and page styling */

/* Home page content area styling */
#Search_Home_View
{
	z-index:-2;
	top:130px;
	right: 510px;
	font-size: 14px;
	color: #eeeeee;
	background-color: #cc0000;
	width: 725px;
	float: right;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 15px 10px;
	box-shadow: 0px 0px 50px 0px #333;
}

#Search_Home_View_Bar
{
	border: 0;
	background-color: #eeeeee;
	height: 5px;
}
/* End Home page content area styling */

/* Generic divider styling */
.divider
{
	margin: 5px;
}
/* End Generic divider styling */

/* Miscellaneous */
.unselectable{
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Home page content area with results */
#Results_View
{
	background-color: #cc0000;
	width: 725px;
	clear: right;
	float: right;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 0px 10px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   16px;
	line-height: 18px;
	box-shadow: 0px 0px 50px 0px #333;
}

#Results_View_Bar{	
	border: 0;
	background-color: #eeeeee;
	height: 5px;
}
/* End home page content area with results */

/* Debugging footer */
footer {
  background: #333;
  margin-top: 1000px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

