/* CSS for error messages/popups */

#error_explanation {
  width: 450px;
  border: 2px solid #bbb;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #333;
  float: right;
  margin-left: auto;
  margin-right: auto;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  font-style: italic;
  margin: -7px;
  margin-bottom: 0px;
  padding-left: 5px;
  background-color: #800;
  color:#fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  color: #cbcbcb;
}

.field_with_errors {
  padding: 2px;
  background-color: yellow;
  color: black;
  font-weight:bold;
  display: table;
  border-radius: 10px;
}