/* CSS Document */

/* Generic text and page styling */
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  color: #eee;
}

body
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	color: #eeeeee;
	background-color: #eeeeee;
	background-image: url('../images/white-bg1.jpg');
	background-repeat:repeat;
/*	background-attachment:fixed;
	background-size: 100%;*/
}
/* End Generic text and page styling */

/* Banner styling */
#Constant_View
{
/*	position:fixed;
	height:70px;
	width:900px;*/
	background-color: #cc0000;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 40px 20px;
}

#Constant_View h1
{
	font-size: 32px;
	font-weight: bold;
	font-style: italic;
}

#Banner_Home_Link, #Banner_Home_Link:visited,
#Banner_Home_Link:hover
{
	cursor: pointer;
	text-decoration: none;
	color: #eeeeee;
	background-color: #cc0000;
}

#Constant_View_Bar
{
	border: 0;
	background-color: #eeeeee;
	height: 2px;
}

#Constant_View_Links
{
	font-size: 20px;
	display: inline;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#Constant_View_Links a
{
	cursor: pointer;
	text-decoration: none;
	color: #eeeeee;
	transition-property:color;
	transition-duration:2s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:color;
	-webkit-transition-duration:2s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:color;
	-o-transition-duration:2s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:color;
	-moz-transition-duration:2s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

#Constant_View_Links a:hover
{
	cursor:pointer;
	text-decoration: none;
	color: #75070E;
	background-color: #cc0000;
	transition-property:color;
	transition-duration:0.15s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:color;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:color;
	-o-transition-duration:0.15s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:color;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

#Add_Listing
{
	float: left;
}

#About
{
	float: right;
}
/* End Banner styling */

/* Search panel styling */
#Search_Sidebar_View
{
/*	z-index:-1;
	bottom:130px;*/
	background-color: #cc0000;
	width: 175px;
	clear: left;
	float: left;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 0px 10px;
}

#Search_Sidebar_View hr
{
	border: 0;
	background-color: #eeeeee;
	height: 2px;
}

#Search_Sidebar_View p
{
	font-size: 16px;
}

#Search_Sidebar_Criteria
{
	list-style-type: none;
	margin: 0px;
	padding: 5px;
}

#Search_Sidebar_Criteria li
{
	cursor: pointer;
	border-radius: 15px;
	padding-left: 5px;
	transition-property:background-color;
	transition-duration:2s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:2s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:background-color;
	-o-transition-duration:2s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:background-color;
	-moz-transition-duration:2s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

#Search_Sidebar_Criteria form
{
	font-size: 14px;
	font-weight: normal;
}

#Price_Ops_Vis input, #Location_Ops_Vis input,
#Details_Ops_Vis input
{
	width: 125px;
}

#Price_Ops_Invis, #Location_Ops_Invis, #Type_Ops_Invis,
#Details_Ops_Invis, #Lease_Ops_Invis, #Utils_Ops_Invis,
#Accoms_Ops_Invis, #Restricts_Ops_Invis
{
	display: none;
}


#Price_Ops_Vis, #Location_Ops_Vis, #Type_Ops_Vis,
#Details_Ops_Invis, #Lease_Ops_Vis, #Utils_Ops_Vis,
#Accoms_Ops_Vis, #Restricts_Ops_Vis
{
	display: all;
}

#Price_All, #Location_All, #Type_of_Res_All, #Res_Details_All,
#Lease_Details_All, #Utils_All, #Accoms_All, #Restricts_All
{
	cursor: pointer;
	color: #eeeeee;
	font-weight: bold;
	border-radius: 15px;	
	background-color: #75070E;
	padding: 1px 5px 5px 5px;
}

#Search_Sidebar_Criteria li:hover
{
	cursor: pointer;
	border-radius: 15px;
	background-color: #75070E;
	transition-property:background-color;
	transition-duration:0.15s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:background-color;
	-o-transition-duration:0.15s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:background-color;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

#Clear_Search_Criteria
{
	list-style-type: none;
	margin: 0px;
	padding: 5px;
}

#Clear_Search_Criteria p
{
	font-style: italic;
	color: #eeeeee;
	transition-property:color;
	transition-duration:2s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:color;
	-webkit-transition-duration:2s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:color;
	-o-transition-duration:2s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:color;
	-moz-transition-duration:2s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

#Clear_Search_Criteria p:hover
{
	cursor: pointer;
	border-radius: 15px;
	background-color: #cc0000;
	color: #75070E;
	transition-property:color;
	transition-duration:0.15s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:color;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:color;
	-o-transition-duration:0.15s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:color;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

input:focus
{ 
	background-color:#FFEBCD;
	color:red;
	font-weight:bold;
}
/* End Search panel styling */

/* Home page content area styling */
#Search_Home_View
{
	z-index:-2;
	top:130px;
	right: 510px;
	font-size: 14px;
	color: #eeeeee;
	background-color: #cc0000;
	width: 650px;
	float: right;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 15px 10px;
}

#Search_Home_View_Bar
{
	border: 0;
	background-color: #eeeeee;
	height: 5px;
}
/* End Home page content area styling */

/* Generic divider styling */
.divider
{
	margin: 5px;
}
/* End Generic divider styling */

#Listing_View
{
	background-color: #cc0000;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 40px 20px;
}

#Listing_View h1
{
	font-size: 32px;
	font-weight: bold;
	font-style: italic;
}

#Listing_View_Bar
{
	border: 0;
	background-color: #eeeeee;
	height: 2px;
}

/* Add Listing page styling */
.Residence_Listing_Form
{
	color: #eeeeee;
	background-color: #cc0000;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 0px 20px;
}

#Add_Listing_Title
{
	font-size: 24px;
	font-weight: bold;
}
/* End Add Listing page styling */

.unselectable{
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.menuOption{
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;	
}


#error_explanation {
  width: 450px;
  border: 2px solid #bbb;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #333;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color:#fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  color: #cbcbcb;
}

.field_with_errors {
  padding: 2px;
  background-color: yellow;
  color: black;
  font-weight:bold;
  display: table;
}


#Results_View
{
/*	z-index:-1;
	bottom:130px;*/
	background-color: #cc0000;
	width: 650px;
	clear: right;
	float: right;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 0px 10px;
}

.Search_Button{
	cursor:pointer;
	background-color: #424242;
	border-radius: 15px;
	color: #eeeeee;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   16px;
  	line-height: 18px;
  	transition-property:background-color;
	transition-duration:2s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:2s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:background-color;
	-o-transition-duration:2s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:background-color;
	-moz-transition-duration:2s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

.Search_Button:hover
{
	cursor: pointer;
	background-color: #BDBDBD;
	transition-property:background-color;
	transition-duration:0.15s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:background-color;
	-o-transition-duration:0.15s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:background-color;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}