/* CSS for view listing page */

#Listing_View
{
	background-color: #cc0000;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 40px 20px;
}

#Listing_View h1
{
	font-size: 32px;
	font-weight: bold;
	font-style: italic;
}

#Listing_View_Bar
{
	border: 0;
	background-color: #eeeeee;
	height: 5px;
}

#UpdateListingButton:link
{
	color: #ffbb00;
}

#UpdateListingButton:visited
{
	color: #ffbb00;
}

#UpdateListingButton:hover
{
	cursor: pointer;
	color: #75070e;
	background-color: #cc0000;
}

#UpdateListingButton:active
{
	color: #03899C;
}