/* CSS for view listing page */

#Listing_View
{
	background-color: #cc0000;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 40px 20px;
	height: 500px;
	box-shadow: 0px 0px 50px 0px #333;
}

#Listing_View h1
{
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

#Listing_View_Bar
{
	border: 0;
	background-color: #eeeeee;
	height: 5px;
}

#ListingInfo
{
	margin-top: auto;
	margin-top: auto;
	height: 90%;
	background-color: #CC0000;
	border-radius: 15px;
	border: 6px none #CC5700;
	border-style: none solid none solid;
}

#ColumnOne h2, #ColumnTwo h2
{
	margin-top: 0px;
}

#ShowLocation, #ShowPrice, #ShowType, #ShowResDetails,
#ShowLeaseDetails, #ShowUtils, #ShowAccommodations,
#ShowRestrictions
{
	padding-top: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	border: 5px none #CC5700;
	border-style: none none solid none;
	border-top-right-radius: solid;
	border-top-left-radius: solid;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#LocationLabel{
	background-color: #FF948D;
	border-color: #FF948D;
}

#ShowLocation:hover{
	background-color: #FF948D;
	border-color: #FF948D;
}

/*#ShowLocation:hover, #ShowLocation:hover #LocationLabel, #ShowPrice:hover, #ShowPrice:hover #PriceLabel,
#ShowType:hover, #ShowType:hover #TypeLabel, #ShowResDetails:hover, #ShowResDetails:hover #DetailsLabel,
#ShowLeaseDetails:hover, #ShowLeaseDetails:hover #LeaseLabel, #ShowUtils:hover, #ShowUtils:hover #UtilsLabel,
#ShowAccommodations:hover, #ShowAccommodations:hover #AccomsLabel, #ShowRestrictions:hover, #ShowRestrictions:hover #RestrictsLabel
{
	background-color: #FF948D;
	border-color: #FF948D;
}*/

#ShowLocation, #ShowUtils, #ShowAccommodations, #ShowRestrictions
{
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

#ShowResDetails
{
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

#UpdateListingButton a:link
{
	color: #ffbb00;
}

#UpdateListingButton a:visited
{
	color: #ffbb00;
}

#UpdateListingButton a:hover
{
	cursor: pointer;
	color: #75070e;
	background-color: #cc0000;
}

#UpdateListingButton a:active
{
	color: #03899C;
}

/*#ListingInfo h2{
	background-color: transparent;
	border-color: transparent;
}*/

#Comments_Area 
{
	background-color: #50300f;
	border: 2px solid transparent;
	border-radius: 15px;
	margin: 10px;
	padding: 20px 20px 40px 20px;
}
