body { background-color: #fff; color: #333; }




a { color: #000; }
a:visited { color: #444; }
a:hover { color: #fff; background-color:#000; }


div.field, div.actions {
  margin-bottom: 10px;
}





