body {
	background-color: #eeeeee;
	color: #eeeeee;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

a { color: #E8B068; }
a:visited { color: #FF6A58; }
a:hover { color: #fff; background-color:#000; }


div.field, div.actions {
  margin-bottom: 10px;
}

#Search_Results_Table{
	border-radius:15px;
	background-color: rgba(255,255,255,0);
	width:735px;
	text-align:right;
}

.Table_Element{
	border-radius:15px;
	border:1px solid rgba(255,255,255,0);
	background-color:#BB2C32;
	cursor:pointer;
}

.Table_Element_Alt{
	border-radius:15px;
	border:1px solid rgba(255,255,255,0);
	background-color: rgba(255,255,255,0);
	cursor:pointer;
}

.TableElementGeneral, .Table_Element, .Table_Element_Alt{
	transition-property:background-color;
	transition-duration:0.15s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:background-color;
	-o-transition-duration:0.15s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:background-color;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

.TableElementGeneral:hover, .Table_Element:hover, .Table_Element_Alt:hover{
	background-color:#FF948D;
/*	opacity:0.6;*/
}