/* CSS for search panel */

#Search_Sidebar_View
{
	background-color: #cc0000;
	width: 225px;
	clear: left;
	float: left;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 0px 20px 0px 10px;
	box-shadow: 0px 0px 50px 0px #333;
}

#Search_Sidebar_View hr
{
	border: 0;
	background-color: #eeeeee;
	height: 2px;
}

#Search_Sidebar_View p
{
	font-size: 16px;
}

#Search_Sidebar_Criteria
{
	margin: 0px;
	padding-left: 5px;
}

/************************* Criterion Slider CSS ***********************/
.CriterionWrapper
{
	border-radius: 5px;
	padding-bottom: 5px;
}

.CriterionWrapper a
{
	display: block;
	padding: 1px 5px 1px 5px;
	margin: 0px;
	border-radius: 5px;
	transition-property:background-color;
	transition-duration:2s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:2s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:background-color;
	-o-transition-duration:2s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:background-color;
	-moz-transition-duration:2s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

.CriterionWrapper a:hover
{
	cursor: pointer;
	background-color: #75070E;
	transition-property:background-color;
	transition-duration:0.15s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:background-color;
	-o-transition-duration:0.15s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:background-color;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

.CriterionOptions
{
	background-color: #75070E;
	border-radius: 5px;
	padding-left: 10px;
}

.CriterionOptions input
{
	border: none;
	border-radius: 5px;
	padding: 5px;
}

#ResDetailsSlider hr
{
	margin-right: 10px;
}
/********************* END Criterion Slider CSS ***********************/

#Clear_Search_Criteria
{
	margin: 0px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#Clear_Search_Criteria p
{
	font-style: italic;
	color: #eeeeee;
	transition-property:color;
	transition-duration:2s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:color;
	-webkit-transition-duration:2s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:color;
	-o-transition-duration:2s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:color;
	-moz-transition-duration:2s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

#Clear_Search_Criteria p:hover
{
	cursor: pointer;
	border-radius: 15px;
	background-color: #cc0000;
	color: #ffbb00;
	transition-property:color;
	transition-duration:0.15s;
	transition-timing-function:linear;
	transition-delay:0s;
	-webkit-transition-property:color;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-o-transition-property:color;
	-o-transition-duration:0.15s;
	-o-transition-timing-function:linear;
	-o-transition-delay:0s;
	-moz-transition:color;
	-moz-transition-duration:0.15s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:0s;
}

#Search_Sidebar_Criteria input:focus
{ 
	background-color:#FFEBCD;
	color: black;
	font-style: italic;
	outline: none;
	box-shadow: 0px 0px 10px 3px #79D3EE;
}

.menuOption{
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;	
}

#Search {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
