.User_View {
	z-index:-2;
	color: #EEEEEE;
	background-color: #CC0000;
	width: 966px;
	border: 2px solid transparent;
	border-radius: 15px;
	margin-top: 10px;
	padding: 0px 20px 15px 10px;
	box-shadow: 0px 0px 50px 0px #333333;
}

#User_View {
	z-index:-2;
	color: #EEEEEE;
	background-color: #CC0000;
	width: 966px;
	border: 2px solid transparent;
	border-radius: 15px;
	margin-top: 10px;
	padding: 0px 20px 15px 10px;
	box-shadow: 0px 0px 50px 0px #333333;
}
