<li>
      <%= user.Name %>
      <%= link_to user.Name, user %>
      <% if current_user.admin? %>
  			| <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.Name}" %>
      <% end %>
</li>