<li>  
	<% unless user.id == current_user.id %>
		<%= link_to user.Name, user %>
		<% if current_user.admin? %>
			| <%= link_to "delete", user, :method => :delete, :confirm => "You sure?", :title => "Delete #{user.Name}" %>
		<% end %>
	<% else %>
		<%= link_to user.Name, user %>
    <% end %>
</li>

