<html>
<header id="Constant_View">
	<h1><a id="Banner_Home_Link" href="http://msaf.heroku.com">Madison Student Housing Finder</a></h1>
	<hr id="Constant_View_Bar"/>
	<ul id="Constant_View_Links">
    	<li id="Add_Listing"><a href="new_listing">[Add a Listing]</a></li>
    	<li id="About"><%= link_to '[About Us]', about_path %></li> 
    </ul>
</header>
</html>		
