<html>
<header id="Constant_View">
	<h1>Madison Student Housing Finder</h1>
	<hr id="Constant_View_Bar"/>
	<ul id="Constant_View_Links">
    	<li id="Add_Listing"><a href="../lists/new.html">[Add a Listing]</a></li>
    	<li id="About"><%= link_to '[About Us]', about_path %></li> 
    </ul>
</header>
</html>		
