<section id="Search_Home_View" class="unselectable" >
	<h2>Welcome to Madison Student Housing Finder!</h2>
	<hr id="Search_Home_View_Bar" />
	<p>Use the search panel on the left to begin your search.</p>
</section>