<section id="Search_Home_View" class="content_area">
	<h2 class="page_header">Welcome to Madison Student Housing Finder!</h2>
	<hr class="generic_header_ruler" />
	<p>Use the search panel on the left to begin your search.</p>
</section>