<section id="Search_Home_View" class="unselectable" >
	<h3>Welcome to Madison Student Housing Finder!</h3>
	<hr id="Search_Home_View_Bar" />
	<p>Use the search panel on the left to begin your search.</p>
</section>