		<div class="span9">
          <div class="hero-unit">
			<h1>Uh oh...</h1>
			<hr style="border: 1px solid black;"/>
           	<%= image_tag "question_mark_lets_not_keep_this.png", :alt => "question mark", 
														  :size => "180x219",
														  :class => "generic_image",
														  :style => "float:right;" %>
			<p>It looks like we couldn't find any results for your search. Sorry!</p>
			<p>Use the search panel on the left to continue your search, and we hope you find what you're looking for.</p>
			<br />
			<p>If you think you are reaching this page in error, <a class="generic_link" href="mailto:madison-student-apartment-finder@googlegroups.com">send us an email</a> 
		and we will look into it.</p>
		  </div><!--./hero-unit -->
        </div><!--./span -->
      </div><!--./row -->
