<section id="Search_Home_View" class="unselectable" >
	<h2>Hmm..looks like there weren't any results there.</h2>
	<hr id="Search_Home_View_Bar" />
	<%= image_tag "question_mark_lets_not_keep_this.png", :alt => "question mark", 
														  :size => "180x219",
														  :class => "none",
														  :style => "float:right; padding: 0 0 0 15px" %>
	<h4>Use the search panel on the left to continue your search, and we hope you find what you're looking for.</h4>
	<br /> <br /> <br /> <br /> <br />
	<hr />
	<p>If you think you are reaching this page in error, <a href="mailto:madison-student-apartment-finder@googlegroups.com">send us an email</a> 
		and we will look into it.</p>
</section>