<section id="Results_Home_View" class="content_area" >
	<h2 class="page_header">Hmm... looks like there were no results for your search.</h2>
	<hr class="generic_header_ruler" />
	<br />
	<%= image_tag "question_mark_lets_not_keep_this.png", :alt => "question mark", 
														  :size => "180x219",
														  :class => "generic_image",
														  :style => "float:right;" %>
	<p>Use the search panel on the left to continue your search, and we hope you find what you're looking for.</p>
	<br />
	<p>If you think you are reaching this page in error, <a class="generic_link" href="mailto:madison-student-apartment-finder@googlegroups.com">send us an email</a> 
		and we will look into it.</p>
		
</section>