<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Madison Student Housing Finder</title>
	<%= stylesheet_link_tag 'index' %>
</head>

<body>

<!-- Banner -->
<%= render 'banner' %>
<!-- End Banner -->

<div class="divider"></div>

<!-- Search Panel -->
<%= render 'search_panel' %>
<!-- End Search Panel -->

<div class="divider"></div>

<section id="Search_Home_View" class="unselectable">

<h1>Thanks for visiting!</h1>

<hr id="Search_Home_View_Bar"/>

<h4>This is a website designed for the students, by the students.  We hope that because of our website,
	you're able to find better places to live each year.</h4>
<br />
<h4>We are actively working on this project so if you do have any feedback, please let us know. Thank you!</h4> <br />
<h4>If you have any questions, concerns, or suggestions, please 
	<a href="mailto:madison-student-apartment-finder@googlegroups.com">send us an email</a>.</h4>

</section>
</body>
</html>