<!-- Search Panel -->
<%= render 'search_panel' %>
<!-- End Search Panel -->

		<div class="span9">
          <div class="hero-unit">
			<h1>Thanks for visiting!</h1>
			<hr style="border: 1px solid black;"/>
            <p>This is a website designed for the students, by the students.  It began as a semester-long project, and we hope that it results in easier residence searches for you, the student!</p>
	<p>We are actively working on this project so if you do have any feedback, please let us know. Thank you!</p>
	<p>If you have any questions, concerns, or suggestions, please <a href="mailto:madison-student-apartment-finder@googlegroups.com">send us an email</a>.</p>
          </div><!--./hero-unit -->
        </div><!--./span -->
      </div><!--./row -->
