<!-- Search Panel -->
<%= render 'search_panel' %>
<!-- End Search Panel -->

<section id="Results_Home_View" class="content_area">
	<h1 class="page_header">Thanks for visiting!</h1>
	<hr class="generic_header_ruler"/>

	<p>This is a website designed for the students, by the students.  It began as a semester-long project, and we hope that it results in easier residence searches for you, the student!</p>
	<p>We are actively working on this project so if you do have any feedback, please let us know. Thank you!</p>
	<p>If you have any questions, concerns, or suggestions, please <a href="mailto:madison-student-apartment-finder@googlegroups.com">send us an email</a>.</p>

</section>
