<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Madison Student Housing Finder</title>
	<%= stylesheet_link_tag 'index' %>
</head>

<body>

<!-- Banner -->
<%= render 'banner' %>
<!-- End Banner -->

<div class="divider"></div>

<!-- Search Panel -->
<%= render 'search_panel' %>
<!-- End Search Panel -->

<div class="divider"></div>

<!-- Content -->

<%= render 'content' %>
<!-- End Content -->


</body>
</html>