<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Madison Student Housing Finder</title>
	<%= stylesheet_link_tag 'index' %>
</head>

<body>

<!-- Banner -->
<header id="Constant_View">
	<h1>Madison Student Housing Finder</h1>
	<hr id="Constant_View_Bar"/>
	<ul id="Constant_View_Links">
    	<li id="Add_Listing"><a href="../lists/new.html">[Add a Listing]</a></li>
		<li id="About"><a>[About Us]<a></li>
    </ul>
</header>
<!-- End Banner -->


<div class="divider"></div>

<iframe id="ContentFrame" src="http://msaf.heroku.com/lists/new.html" frameborder=0 scrolling=auto ></iframe>

</body>
</html>