<div class="container">
	<div class="hero-unit">
        <h1>Landlords</h1>
        <hr style="border: 1px solid black;"/>
        <p>Here you can see a list of all of the landlords that we have a residence listing for. We've included their contact info for your convenience.</p>
        <br />
        <%= will_paginate %>

		<ul class="landlords">
			<table> 
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Website</th>
					<th>Phone Number</th>
					<th>Address</th>
					<th>City</th>
					<th>Zip</th>	
					<th></th>
					<th></th>
				</tr>
				<%= render @landlords %>
    		</table>
		</ul>
		
		<%= will_paginate %>
	</div><!--./hero-unit -->
