<section id="Landlord_View">
<h1 class="page_header">Landlords</h1>
<hr class="generic_header_ruler" />
<h3>Here is a list of all of the landlords that we have in our database. Click on any row to bring you to a page featuring all of that landlord's listings.</h3>
<br />
<%= will_paginate %>

	<table id="landlord-table"> 
		<tr>
			<th id="landlords-table-name">Name</th>
			<th id="landlords-table-email">Email</th>
			<th id="landlords-table-web">Website</th>
			<th id="landlords-table-phone">Phone Number</th>
			<th id="landlords-table-address">Address</th>
			<th id="landlords-table-city">City</th>
			<th id="landlords-table-zip">Zip</th>	
		</tr>
		<!-- Note: the render below has each tr inside of it -->
		<%= render @landlords %>
    </table>

<%= will_paginate %>
</section>
