<tr>
  <td class="review">
    <span class="content"><%= review.review_body %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(review.created_at) %> ago.
    </span>
  </td>
</tr>

