<tr>
  <td class="review">
    <span class="content"><%= review.review_body %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(review.created_at) %> ago.
    </span>
    <br />
    <span class="name">
      By <%= get_user(review.user_id).Name %>.
    </span>
 
 	<!-- Tried to add a delete link and it wasn't working...will add later-->
 	<%= link_to "delete", review, 		:method => :delete,
                                       	:confirm => "You sure?",
                                       	:title => review.review_body %>
  </td>
</tr>

